<div class="container">
  <div class="row d-flex align-items-center mt-3">
    <div class="col s8">
      <span class="title">Единоборства</span>
    </div>
    <div class="col s4">
      <div class="input-field col s12">
        <%= form_tag(fight_path, method: :get) do %>
          <%= text_field_tag(:search, params[:search], class: "validate", placeholder: 'Поиск') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s8">
      <% if @news.present? %>
        <%= render @news %>
      <% else %>
        <h3 class="no-results"><%= @text %></h3>
      <% end %>
    </div>
    <div class="col s4">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content card-contentSidebar">
            <p><%= link_to "Спорт", sport_path, class: "card-contentSidebarLink" %></p>
            <p><%= link_to "Баскетбол", basketball_path, class: "card-contentSidebarLink" %></p>
            <p><%= link_to "Хоккей", hockey_path, class: "card-contentSidebarLink" %></p>
            <p><%= link_to "Футбол", football_path, class: "card-contentSidebarLink" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <% if @news.present? %>
        <%= will_paginate @news, :previous_label => 'Предыдущий', :next_label => 'Следующий' %>
      <% end %>
    </div>
  </div>
</div>