<div class="container">
  <h1 class="title">Футбол</h1>
  <div class="row">
    <div class="col s8">
      <% @news.each do |entry| %>

        <div class="card horizontal">
          <div class="card-image">
            <%= image_tag(entry.imgsrc) %>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class=" text"><%= entry.title %></p>
            </div>
            <div class="card-action card-action-flex">
              <div class="card__link">
                <%= link_to "Открыть", entry %>
              </div>
              <div class="card__date">
                <%= entry.date %>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </div>
    <div class="col s4">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content card-contentSidebar">
            <p><%= link_to "Спорт", sport_path, class: "card-contentSidebarLink" %></p>
            <p><%= link_to "Баскетбол", basketball_path, class: "card-contentSidebarLink" %></p>
            <p><%= link_to "Хоккей", hockey_path, class: "card-contentSidebarLink" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>