<div class="container">
  <h1 class="title">
     <%= $getState.value %>
  </h1>
  <div class="row">

    <%= render "partials/modal" %>

    <div class="col s8">
      <% if @news.present? %>
        <%= render @news %>
      <% else %>
        <h3 class="no-results"><%= @text %></h3>
      <% end %>
    </div>
    <div class="col s4 right-align">
      <button data-target="modal1" class="btn blue darken-1 modal-trigger">Другой регион</button>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <% if @news.present? %>
        <%= will_paginate @news, :previous_label => 'Предыдущий', :next_label => 'Следующий' %>
      <% end %>
    </div>
  </div>
</div>