<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Новости</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/search-modal" %>
    <%= render "partials/modal" %>
    <%= render "partials/header" %>
<!--    <div class="preloader"><span class="preloader-gif"></span></div>-->
    <%= yield %>
    <%= render "partials/footer" %>
  </body>
</html>
